html, body {
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.view {
  border: 1px #ddd solid;
  display: relative;
}

#filter-view {
  height: 40%;
  min-height: 350px;
}

#mapping-view {

}

#selected-view {
  height: 60%;
}

#plot-view {
  height: 100%;
}

#detail-view {
  height: 40%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
}

#detail-view .group {
  margin-bottom: 3px;
}

#detail-view .head {
  font-weight: bold;
  font-size: 12px;
}

#detail-view .content {
  font-size: 11px;
}

#detail-view .content .label {
  margin: 1px;
  display: inline-block;
}

#citation-view {
  height: 60%;
}

.padding-0 {
  padding: 0 !important;
  margin: 0 !important;
}



/* 라소 관련 스타일 */

.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

/* Filter styles */
.sliderFilter {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.searchFilter {
  min-height: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

input, button {
	font: inherit;
	text-shadow: inherit;
}

.searchFilter > input {
  width: 100%;
	padding: .1em .3em;
	border: 0;
	border: 1px solid hsl(35, 80%, 60%);
	background: hsla(0,0%,100%,.2);
	border-radius: .3em;
	box-shadow: .05em .1em .3em rgba(0,0,0,.3) inset;
  display: block;
}

.popupBox {
  position: absolute;
  min-width: 80%;
}

.popupBox .popupElm .badge {
  margin-left: 10px;
}

.popupBox > ul {
  position: relative;
  left: 0;
  z-index: 4;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.popupBox > ul:empty {
    display: none;
}

.popupBox > ul {
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

.popupBox > ul:before {
  content: "";
  position: absolute;
  top: -.43em;
  left: 1em;
  width: 0; height: 0;
  padding: .4em;
  background: white;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popupBox > ul > li {
  position: relative;
  padding: .2em .5em;
  cursor: pointer;
}

.popupBox > ul > li:hover {
  background: hsl(200, 40%, 80%);
  color: black;
}

.popupBox > ul > li[aria-selected="true"] {
  background: hsl(205, 40%, 40%);
  color: white;
}

  .popupBox mark {
    background: hsl(65, 100%, 50%);
  }
  
  .popupBox li:hover mark {
    background: hsl(68, 100%, 41%);
  }
  
  .popupBox li[aria-selected="true"] mark {
    background: hsl(86, 100%, 21%);
    color: inherit;
  }