html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.view {
    border: 1px #aaa solid;
    display: relative;
}

#filter-view {
    height: 40%;
    min-height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ddd;
}

#detail-view {
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    background-color: #ddd;
}

#detail-view .group {
    margin-bottom: 3px;
}

#detail-view .head {
    font-weight: bold;
    font-size: 12px;
}

#detail-view .content {
    font-size: 11px;
}

#detail-view .content .label {
    margin: 1px;
    display: inline-block;
}

#plot-view {
    height: 100%;
    background-color: #333;
}

#plot-view > svg {
    background-color: #333;
}

#selected-view {
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    background-color: #ddd;
}

#selected-view th {
    font-size: 13px;
    padding: 2px;
    margin-bottom: 4px;
}

#selected-view td {
    font-size: 12px;
    padding: 2px;
    margin-bottom: 2px;
}

#stat-view {
    height: 50%;
    padding: 5px;
    background-color: #ddd;
}

#stat-view .nav-tabs {
    border-bottom: 1px solid #ccc;
}

#stat-view #stat-view-tabs li {
    background-color: #ddd;
}

#stat-view #stat-view-tabs li:hover {
    background-color: #ddd;
}


#stat-view #stat-view-tabs {
    height: 6%;
    background-color: #ddd;
}

#stat-view #stat-view-tabs a {
    padding: 5px 1px;
    font-size: 6px;
    font-weight: bold;
    user-select: none;
    background-color: #ccc;
}

#stat-view #stat-view-tabs li.active > a{
    background-color: #ddd;
}

#stat-view #stat-view-body {
    height: 94%;
}

#stat-view #year-svg .bar {
    fill: midnightblue;
}

#stat-view #year-svg .axis {
    stroke: black;
    font-size: 8px;
    fill: none;
}

.padding-0 {
    padding: 0 !important;
    margin: 0 !important;
}


/* 라소 관련 스타일 */

.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

/* Filter styles */
.sliderFilter {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.sliderFilter .slider_hist {
    text-align: center;
}

.sliderFilter .slider_hist .bar {
    margin: auto;
    fill: midnightblue;
}

.searchFilter {
    min-height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

input, button {
	font: inherit;
	text-shadow: inherit;
}

.keywordBox {
    position: relative;
    margin-top: 10px;
}

.keywordBox .keywordGroup {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.keywordBox .keywordGroup .keyword {
    font-size: 11px;
    margin: 1px;
    display: inline-block;
}

.searchFilter > input {
    width: 100%;
	padding: .1em .3em;
	border: 0;
	border: 1px solid hsl(35, 80%, 60%);
	background: hsla(0,0%,100%,.2);
	border-radius: .3em;
	box-shadow: .05em .1em .3em rgba(0,0,0,.3) inset;
    display: block;
}

.popupBox {
    position: absolute;
    min-width: 80%;

}

.search_result {
    float: left;
    min-width: 100%
}

.search_details {
    top: 20px;
    left: 250px;
    max-width: 40%;
    max-height: 70%;
    overflow-y: auto;
    position: absolute;
    z-index: 5;
    box-shadow: .05em .2em .6em rgba(0,0,0,.2);
}

.search_details .detailContent {
    position: relative;
    display: block;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search_details .detailContent .detailContent_label {
    font-size: 10px;
    margin: 1px;
    display: inline-block;
}

.search_result .popupElm .badge {
    margin-left: 10px;
}

.search_result > ul {
    position: relative;
    left: 0;
    z-index: 4;
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
}

.search_result > ul:empty {
        display: none;
}

.search_result > ul {
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

.search_result > ul:before {
    content: "";
    position: absolute;
    top: -.43em;
    left: 1em;
    width: 0; height: 0;
    padding: .4em;
    background: white;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search_result > ul > li {
    position: relative;
    padding: .2em .5em;
    cursor: pointer;
}

.search_result > ul > li:hover {
    background: hsl(200, 40%, 80%);
    color: black;
}

.search_result > ul > li[aria-selected="true"] {
    background: hsl(205, 40%, 40%);
    color: white;
}

    .search_result mark {
        background: hsl(65, 100%, 50%);
    }
    
    .search_result li:hover mark {
        background: hsl(68, 100%, 41%);
    }
    
    .search_result li[aria-selected="true"] mark {
        background: hsl(86, 100%, 21%);
        color: inherit;
    }
